
.nano-hidden {
  opacity: 0;
  transform: scale(0.85) translateY(10px);
}


.nano-in {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition:
    opacity 0.8s ease,
    transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}


 .nano-stagger > * {
  opacity: 0;
  transform: scale(0.9);
}

.nano-stagger.show > * {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
} 


.nano-stagger.show > *:nth-child(1) { transition-delay: 0.2s; }
.nano-stagger.show > *:nth-child(2) { transition-delay: 0.35s; }
.nano-stagger.show > *:nth-child(3) { transition-delay: 0.5s; }
.nano-stagger.show > *:nth-child(4) { transition-delay: 0.65s; }
.nano-stagger.show > *:nth-child(5) { transition-delay: 0.8s; }


.nano-out {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.5s ease;
}
